/* add your styles here */
.title{
    display: flex;
    justify-content: center;
}
.main{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.main img{
    width: 100%;
}